.label, .text-field, .button {
    -fx-font-family: "Helvetica Neue", "Segoe UI", "Segoe UI Emoji";
}

#loginGridPane {
    /*-fx-background-color: #ffffff;*/
}

.mac-btn {
    -fx-background-color: linear-gradient(#42a1ec, #0070c9);
    -fx-border-color: #07c;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 2px 10px;
    -fx-border-radius: 4px;
}

.mac-btn:hover {
    -fx-background-color: linear-gradient(#51a9ee, #147bcd);
    -fx-border-color: #1482d0;
}

.mac-btn:focused {
    -fx-border-color: rgba(131, 192, 253, 0.9);
    -fx-border-width: 3px;
}

.btn {
    -fx-background-color: linear-gradient(#42a1ec, #0070c9);
    -fx-border-color: #07c;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 2px 10px;
    -fx-border-radius: 4px;
}

.btn:hover {
    -fx-background-color: linear-gradient(#51a9ee, #147bcd);
    -fx-border-color: #1482d0;
}

.btn:focused {
    -fx-border-color: rgba(131, 192, 253, 0.9);
    -fx-border-width: 3px;
}

.mac-checkbox {

}

#adminBtn, #employeeBtn, #managerBtn, #analystBtn, #designerBtn, #coderBtn, #testerBtn {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;

    -fx-border-width: 1px;
    /*-fx-border-color: #e0e0e0;*/
    -fx-border-color: transparent;
    -fx-border-radius: 2px;
}

#adminBtn, #employeeBtn {
    -fx-background-size: 80px 80px;
}

#managerBtn, #analystBtn, #designerBtn, #coderBtn, #testerBtn {
    -fx-background-size: 50px 50px;
    -fx-font-size: 12px;
}

#adminBtn:hover, #employeeBtn:hover, #managerBtn:hover, #analystBtn:hover, #designerBtn:hover,
#coderBtn:hover, #testerBtn:hover {
    -fx-border-color: #4FC3F7;
}

#adminBtn {
    -fx-background-image: url("/app/resources/images/icons8-user-male-3-80.png");
}

#employeeBtn {
    -fx-background-image: url("/app/resources/images/icons8-user-80.png");
}

#managerBtn {
    -fx-background-image: url("/app/resources/images/icons8-administrator-male-80.png");
}

#analystBtn {
    -fx-background-image: url("/app/resources/images/icons8-combo-chart-80.png");
}

#designerBtn {
    -fx-background-image: url("/app/resources/images/icons8-paint-palette-80.png");
}

#coderBtn {
    -fx-background-image: url("/app/resources/images/icons8-code-80.png");
}

#testerBtn {
    -fx-background-image: url("/app/resources/images/icons8-pass-fail-80.png");
}

.text-field, .password-field {
    -fx-border-radius: 2px;
    -fx-border-color: #e0e0e0;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-min-height: 30px;
}

.text-field:hover, .text-field:selected, .password-field:hover, .password-field:selected {
    -fx-border-color: #4FC3F7;
}

#forgotPassword {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 2px;

    -fx-pref-width: 80px;
}

#forgotPassword:hover, #forgotPassword:selected {
    -fx-border-color: #4FC3F7;
}

#signUpBtn {
    -fx-background-color: transparent;
}

#signUpBtn:hover {
    -fx-underline: true;
}

.langBtn {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 32px 32px;
    -fx-background-color: transparent;
}

.langBtn .arrow {
    -fx-opacity: 0;
}

.lang-en {
    -fx-background-image: url("/app/resources/images/gb-48.png");
}

.lang-tr {
    -fx-background-image: url("/app/resources/images/tr-32.png");
}

.project-info-label {
    -fx-fill: #6F7782;
}

#formTeamImages .button:hover {
    -fx-border-color: transparent;
}