.label, .text-field, .button {
    -fx-font-family: "Helvetica Neue";
}

#loginGridPane {
    /*-fx-background-color: #ffffff;*/
}

#adminBtn, #employeeBtn, #managerBtn, #analystBtn, #designerBtn, #coderBtn, #testerBtn {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;

    -fx-border-width: 1px;
    /*-fx-border-color: #e0e0e0;*/
    -fx-border-color: transparent;
    -fx-border-radius: 2px;
}

#adminBtn, #employeeBtn {
    -fx-background-size: 80px 80px;
}

#managerBtn, #analystBtn, #designerBtn, #coderBtn, #testerBtn {
    -fx-background-size: 50px 50px;
    -fx-font-size: 12px;
}

#adminBtn:hover, #employeeBtn:hover, #managerBtn:hover, #analystBtn:hover, #designerBtn:hover,
#coderBtn:hover, #testerBtn:hover {
    -fx-border-color: #4FC3F7;
}

#adminBtn {
    -fx-background-image: url("/app/resources/images/icons8-user-male-3-80.png");
}

#employeeBtn {
    -fx-background-image: url("/app/resources/images/icons8-user-80.png");
}

#managerBtn {
    -fx-background-image: url("/app/resources/images/icons8-administrator-male-80.png");
}

#analystBtn {
    -fx-background-image: url("/app/resources/images/icons8-combo-chart-80.png");
}

#designerBtn {
    -fx-background-image: url("/app/resources/images/icons8-paint-palette-80.png");
}

#coderBtn {
    -fx-background-image: url("/app/resources/images/icons8-code-80.png");
}

#testerBtn {
    -fx-background-image: url("/app/resources/images/icons8-pass-fail-80.png");
}

.text-field, .password-field {
    -fx-border-radius: 2px;
    -fx-border-color: #e0e0e0;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-min-height: 30px;
}

.text-field:hover, .text-field:selected, .password-field:hover, .password-field:selected {
    -fx-border-color: #4FC3F7;
}

#forgotPassword {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 2px;

    -fx-pref-width: 80px;
}

#forgotPassword:hover, #forgotPassword:selected {
    -fx-border-color: #4FC3F7;
}

#signUpBtn {
    -fx-background-color: transparent;
}

#signUpBtn:hover {
    -fx-underline: true;
}

#logInBtn, #signUpFinishBtn, #backBtn {
    -fx-pref-width: 80px;
    -fx-background-color: #4FC3F7;
    -fx-border-radius: 2px;
    -fx-text-fill: #FFFFFF;
}

#logInBtn:hover, #signUpFinishBtn:hover {
    -fx-background-color: #01579B;
}

#langBtn {
    -fx-background-image: url("/app/resources/images/gb-48.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 32px 32px;
    -fx-background-color: transparent;
}

#langBtn .arrow {
    -fx-opacity: 0;
}

.project-info-label {
    -fx-fill: #6F7782;
}